body {
    background-color: darkseagreen;
    color: black;
    font-weight: bold;
    background-image: url("https://jessie-gould04.com/bacs200/7957c10a7ead708.jpg");
    background-position: top;
    background-repeat: repeat-x;
    padding-top: 300px;


}


h1 {
    color: darkgreen;
}

h2 {
    color: black;
}
